*{
    margin: 0;
}

header div a img{
    width:  100%;
    height: 100%;
}

header p{
    float: right;
    position: relative;
    bottom: 200px;
    margin: 20px;
    color:rgb(255,127,0);
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    text-shadow: rgb(25,25,25) 1px 1px 1px;
}

#menu{
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #005fbf;
    margin: 0px;
    padding: 0px;
}
#menu ul{
    list-style: none;
    display: flex;
}

#menu a{
    color:white;
    background-color: #005fbf;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 16px;
}

#menu a:hover{
    background-color:  cornflowerblue;
}

#menu ul ul{
    display: none;
    position: absolute;
}

#menu ul li:hover ul{
    display: block;
}

header div a:hover{
    cursor: default;
}

.contenido .main{
    width: 75%;
	margin-right: 2%;
    float: left;
}

.main article{
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
	background: whitesmoke;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
.main article p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido aside{
    width: 20%;
	background: #005fbf;
	float: left;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	box-sizing: border-box;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

footer {
    background: #005fbf;
	clear: both;
    color: white;
    font-size: 18px;
	padding: 10px;
	text-align: center;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
.boton {
    float: right;
    position: relative;
    bottom: 35.5px;
    border: 1px solid #2e518b;
    padding: 5px; 
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    }

    .boton:hover{
        background-color: cornflowerblue;
    }

    .main p{
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }  